*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
target/
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.project
.classpath
.c9/
.settings/
.loadpath
*.iml
.idea/
out/
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
.vscode/
.DS_Store
Thumbs.db
.env
.env.*
docker-compose.override.yml
*.pid
*.swp
*.swo
test-output/
surefire-reports/
jacoco.exec
.springBeans
lombok.config
.devtools.properties
